* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    /* background-image: url("assets/background.jpg");   */
    background-image: linear-gradient(#eacda3, #d6ae7b);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    /* background-color: #9c835f; */
    height: 100vh;
    position: relative;
}

.wrapper {
    /* height: 50vh; */
    width: 700px;

    margin: auto;
    border: 1px solid #fff;
}

.container > .comp {
    height: 47vh;
    background-color: #cfb969;
    border-bottom: 5px solid #fff;
    position: relative;
}

.container > .user {
    height: 53vh;
    background-color: #cfb969;
    position: relative;
}

.user-choice__container {
    /* margin: auto; */
    width: 100%;
    margin: auto;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 15px;
}

.user-choice__container img {
    width: 75px;
    height: 75px;
    background-color: #9c835f;
    padding: 15px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin: 0 10px;
    transition: linear 200ms;
}

.user-choice__container img:hover {
    background-color: #503f28;
    transform: scale(1.2);
    cursor: pointer;
}

.user-choice__container img:nth-child(2) {
    position: relative;
    bottom: 30px;
}

.big-image__container {
    /* background-color: aqua; */
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.comp .big-image__container {
    /* bottom: 50px; */
    /* background-color: aquamarine; */
    bottom: 50px;
    transform: scaleY(-1);
}

.user .big-image__container {
    top: 50px;
}

.big-image__container img {
    width: 120px;
    height: 120px;
}

/* SCORE ATAS*/
.score__container {
    position: absolute;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    display: flex;
    /* justify-content: space-around; */
    /* align-items: center; */
    /* top: 50px; */
    /* right: 50%; */
    /* margin: auto; */
}

.score__container .score__wrapper {
    padding: 0 10px;
    width: 220px;
    /* margin: 0 10px; */
    position: relative;
    top: 20px;
}

.score__container > div > p {
    /* padding: 10px; */
    background-color: #cfb969;
    width: 100%;
    height: 40px;
    border: 5px solid #9c835f;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 100px; */
    /* margin-top: -10px; */
}

.score__container .user p {
    /* color: red; */
    padding: 0 50px 0 0;
}

.score__container .comp p {
    /* color: red; */
    padding: 0 0 0 50px;
}

.score__container > div > h4 {
    /* padding: 10px; */
    background-color: #cfb969;
    width: 60px;
    height: 60px;
    border: 5px solid #9c835f;
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
}

#user__score {
    right: 0;
}

.score__wrapper.user {
    /* background-color: blue; */
}

.score__wrapper.comp {
    /* background-color: red; */
}

/* BOARD TENGAH*/
.board {
    width: 180px;
    font-size: 18px;
    border: 5px solid #fff;
    background-color: crimson;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    z-index: 20000;
    left: 50%;
    top: 0;
    /* bottom: 0%; */
    transform: translate(-50%, -50%);
}

/* MENU */
.menu {
    display: flex;
    position: absolute;
    top: 110px;
    left: -241px;
    transform: rotate(90deg);
    background-color: #cfb969;
}

.menu h3:hover {
    cursor: pointer;
    background-color: #fff;
}

.menu h3 {
    display: block;
    width: 130px;
    padding: 10px;
    border: 1px solid #fff;
    text-align: center;
    font-size: 14px;
}

.shake {
    margin-top: 15px;
    /* animation: shake 1s;
    animation-iteration-count: 1; */
}

/* @keyframes shake {
    0% {
        transform: translate(0px, 5px);
    }
    10% {
        transform: translate(0px, -5px);
    }
    20% {
        transform: translate(0px, 5px);
    }
    30% {
        transform: translate(0px, -5px);
    }
    40% {
        transform: translate(0px, 5px);
    }
    50% {
        transform: translate(0px, -5px);
    }
    60% {
        transform: translate(0px, 5px);
    }
    70% {
        transform: translate(0px, -5px);
    }
    80% {
        transform: translate(0px, 5px);
    }
    90% {
        transform: translate(0px, -5px);
    }
    100% {
        transform: translate(0px, 5px);
    }
} */
